*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body 
{
    width: 100%;
    height: 100%;
}

#main
{
    width: 100%;
    /*the reason we are giving main's height as auto because here we cannot fix the height of the complete website because website lenght keep getting extended so you can make it as auto or don't mention it*/
}