* 
{
    margin: 0;
    padding: 0;
    font-family: 'Vercetti Regular'; 
    background-color: black;
    box-sizing: border-box;
}

@font-face
{
    font-family: 'Vercetti Regular';
    src: url("/Award-Ceremony-Nomination/Vercetti-Regular.woff") format('woff');
}

#minicircle
{
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
    z-index: 99999999;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}

#nav
{
    color: white;
    width: 100%;
    display: flex;
    padding: 3vw 2vw;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    
}

#nav h3
{
    font-size: 1.5vw;
    font-weight: 400;
    text-decoration: none;
}

html,body 
{
    width: 100%;
}

#main
{
    width: 100%;
    /*the reason we are giving main's height as auto because here we cannot fix the height of the complete website because website lenght keep getting extended so you can make it as auto or don't mention it*/
}

#hero
{
    color: white;
    width: 100%;
    /*height: 100%; means the complete first screen look will be covered by hero div only*/
    min-height: 100vh;
    background-color: black;
    position: relative;
}

#heading
{
    margin-top: 16vh;
}

#firstHead
{
    line-height: 0.9;
    opacity: 0.6;
    margin-left: 3vw;
    text-transform: uppercase;
    font-size: 9.5vw;
}

#sections
{
    font-size: 1.2vw;
    font-weight: 500;
}

.blocktext
{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: end;
}

.blocktext h5
{
    text-transform: uppercase;
    font-size: 2vw;
    width: fit-content;

}

#designer
{
    margin-left: 15vw;
    line-height: 0.9;
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 9.5vw;
}

#samllheadings
{
    margin-top: 100px;
}

#samllheadings h3
{
    font-size: 1.1vw;
    padding-right: 4vw;
    text-align: right;
    text-transform: uppercase;
    margin-top: 2vh;
}

#hero-footer
{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-footer a
{
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    text-transform: uppercase;
} 

#hero-footer>div
{
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
    text-transform: uppercase;
}

#linkedIn
{
    padding-left: 4vw;
}

#iconset
{
    box-sizing: border-box;
    display: flex;
    padding-right: 4vw;
    opacity: 0.6;    
}

.circle
{
    font-size: 2.5vw;
}

#second
{
    padding: 0vw 12vw 0vw 4vw;
    margin-top: 25vh;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}


.elem
{
    width: 100%;
    padding: 4vw 0vw 4vw 0vw;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    display: flex;
}

.elem>h1
{
    color: white;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 6vw;
    box-sizing: border-box;
}

#yearResume
{
    font-size: 1vw;
    text-transform: uppercase;
    color: white;
}

.lastOne1
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.elem>img
{
    position: absolute;
    width: 10vw;
    height: auto;
    z-index: 9999;
}

#about
{
    width: 100%;
    display: flex;
    color: white;
    gap: 90px;
    justify-content: space-between;
    padding: 10vw 10vw;
    padding-top: 2vw;
    padding-left: 25vw;
}

#profilepic
{
    border-radius: 20rem;
    width: 230px;
    height: fit-content;
    size: auto;
}

#stri
{
    justify-content: space-between;
    display: block;
}

#stri>h5
{
    text-transform: uppercase;
    font-weight: 200;
    opacity: 0.7;
}

#stri>p
{
    width: 90%;
    margin-top: 1vh;
    margin-bottom: 4vh;
    font-weight: 100;
    font-size: 1.3vw;
    line-height: 1.6;
}

#stri>a
{
    color: white;
    border: solid 1px white;
    padding: 0.6vw 2vw;
    border-radius: 50px;
    text-decoration: none;
}

#subscribe
{
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 3vw;
    
}

#subscribe>h5
{
    color: white;
    text-transform: uppercase;
    margin-bottom: 1.2vh;
    opacity: 0.6;
    font-weight: 200;
}

#subscribe>h6
{
    color: white;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-size: 1.2vw;
    font-weight: 200;
}

#footer
{
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
}

#footerleft
{
    gap: 2vw;
    display: flex;
}

#footerleft>h5
{
    font-weight: 500;
}


#footerright
{
    gap: 40px;
    display: flex;
    font-weight: 500;
}

#footerright>a
{
    color: white;
    font-size: 1.2vw;
    display: inline;
    text-decoration: none;
    text-transform: uppercase;

}

.bounding
{
    overflow: hidden;
    width:fit-content;
}

.bounding .boundingelem
{
    transform: translateY(100%);
}
